@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
font-family: 'Open Sans', sans-serif;
}
h1{
text-align:center;
}
.main-shit,.second-shit,.third-sht{
display:flex;
justify-content: center;
}
.ihate-css{
display:flex;
justify-content:center;
}
textarea{
outline:none;
border-radius:6px;
margin-top:10px;
resize: none;
}
.ten{
display:block;
}
button{
width:125px;
color:white;
background-color:#1877f2;
border-radius: 6px;
border:none;
padding:10px;
display:block;
cursor:pointer;
margin-top:5px;
}