@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
body{
font-family: 'Roboto', sans-serif;
font-size: larger;
color:black;
font-size: larger;
margin:10px;
background-color: black;
}
#itis-what-itis,#for-button{
display:flex;
justify-content:center;
align-items: center;;
}
#main-div{
height:636px;
width:592px;
border:1px solid whitesmoke;
border-top: none;
}
button{
margin-top:10px;
width:100px;
border:none;
background-color:#c04089;
padding:10px;
color:white;
border-radius: 6px;
margin:10px;
cursor:pointer;
outline:none;
}
#pla-z{
background-color:#6e159e;
}
#score{
margin: 10px;
text-align: center;
color:white;
}
.try-it{
background-color: red;
padding:50px;
display: inline-block;
color:whitesmoke;
font-size:larger;
}